{% extends "core/base.html" %}

{% block content %}
<div class="home__div1">
    <div class="home__div2">
        <div class="bio__div1">
            <div class="bio__div2">
                <div class="bio__div3">
                    <p>Kalyanmay Mondal is a Researcher in the field of human psychology & computer science. Especially on Digital and Virtual Afterlife.</p>
                </div>
                <div class="bio__div4">
                    <p>Twitter</p>
                    <p>LinkedIn</p>
                    <p>Instagram</p>
                </div>
            </div>
            <div class="bio__div5">
                <div class="bio__div6">
                    <p>Scientist and researcher with more than <span>Five</span> years of experiences in Cybernetics, Augmented eternity, digital mind, Quantum physics & Quantum Computing, Neuroscience, Neural Nanorobotics, Neuroinformatics, Neuromorphic and Photonic Computing. He also like to write about science fiction short story and novels.</p>
                </div>
                <div class="bio__div7">
                    <img src="https://images.unsplash.com/photo-1569351341997-7391b0ef1b97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="bio__img1" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}