{% extends "core/base.html" %}

{% block content %}
<div class="home__div1">
    <div class="home__div2">
        <div class="contact__div1">
            <div class="contact__div2">
                <div class="contact__div3">
                    <div class="contact__div4">
                        <p>Let's get</p>
                        <p>in touch</p>
                    </div>
                    <div class="contact__div5">
                        <p>kawaiwebstudio@gmail.com</p>
                    </div>
                </div>
                <div class="contact__div6">
                    <form action="">
                        <div class="contact__div7">
                            <div class="div__input1">
                                <input type="text" class="contact__input1" placeholder="Name">
                            </div>
                            <div class="div__input1">
                                <input type="email" class="contact__input1" placeholder="Email">
                            </div>
                            <div class="contact__div8">
                                <div class="contact__div9">
                                    <p>Send</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}